@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  color: #FFFFFF;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .font-heading {
    font-family: var(--font-heading);
    letter-spacing: 0.1em;
  }

  .font-mono {
    font-family: var(--font-mono);
    letter-spacing: 0.05em;
  }
}

/* Custom CLI Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-left: 1px solid #333333;
}

::-webkit-scrollbar-thumb {
  background: #FF5F15;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #CAFF33;
}

/* Selections */
::selection {
  background: #FF5F15;
  color: #000000;
}